# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs & DB
*.log
*.sqlite
*.sqlite3
*.db
.system_generated/

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
